* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix {
    content="";
    display: table;
    clear:both;
}

.container {
    padding: 35px 200px 0 200px;
    width: 100%;
}

.container div{
    margin-bottom: 25px;
}

.pink {
    height: 150px;
    width: 100%;
}

.yellow {
    height: 500px;
    background-color: yellow;
    width: 100%;
}

.light-blue {
    width: 100%;
}

.light-blue > menu, aside, article {
    border: 5px solid rgba(0, 47, 255, 0.589);
}

.blue-menu {
    height: 100px;
    width: 100%;
    background-color: lightblue;
}

.left-aside, .right-aside {
    width: 250px;
    height: 500px;
    background-color: lightblue;
    float:left;
}

.blue-article {
    width:calc(100% - 500px);
    background-color: lightblue;
    height: 500px;
    float: left;
}

.violet {
    width: 100%;
    height: 75px;
    background-color: violet;
}

#logo{
    height: 50%;
}

#logo-image {
    width: 170px;
}

/* nessuna classe o id alla lista perché sarà la sola presente nel layout */

ul {
    list-style-type: none;
}

li {
    display: inline;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(165, 165, 165);
}