* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
/*     padding: 35px 200px 0 200px;
    width: 100%; */
    margin: 0 auto;
    width: 80%;
}


.pink {
    height: 170px;
    width: 100%;
    padding-top: 10px;
}

.yellow {
    height: 500px;
    width: 100%;
    border-radius: 15px;
    background-image: url('../img/banner.jpg');
    background-position: center;
    position: relative;
    margin-bottom: 40px;
}

.light-blue {
    width: 100%; 
    margin-bottom: 40px;
}

.blue-menu {
    height: 100px;
    width: 100%;
}

.left-aside, .right-aside {
    width: 250px;
    height: 500px;
    float:left;
    color:rgb(146, 143, 143);
}

.blue-article {
    width:calc(100% - 530px);
    height: 600px;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
}

.violet {
    width: 100%;
    height: 75px;
    text-align: center;
    background-color: white;
    font-size: 18px;
}
}

#logo{
    height: 50%;
}

#logo-image {
    width: 170px;
    margin-bottom: 20px;
}

/* nessuna classe o id alla lista perché sarà la sola presente nel layout */

ul {
    list-style-type: none;
}

li {
    display: inline;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    color: rgb(165, 165, 165);
}

li:hover {
    color: blue;
}

#banner-descriptions {
    padding-left: 50px;
    position: absolute;
    top: 325px;
    width: 55%;
    color: white;
}

#main-banner-description {
    font-size: 30px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

#collateral-banner-description {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

/* bisogna dare lo stesso border radius a questo div altrimenti dalla sovrapposizione c'è un problema */
#img-opacity {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background-color: #5441545c;
}

span#heart {
    color: red;
    font-size: 15px;
}

.left-aside {
    background-image: url('../img/img-1.jpg');
    background-repeat: no-repeat;
    border-radius: 10px;
    background-size: contain;
} 

#article-img {
    height: 250px;
    width: 100%;
}

#left-aside-opacity-img {
    width:100%;
    height: 250px;
    background-color: rgb(64 39 62 / 33%);
    border-radius: 10px;
    margin-bottom: 20px;
}

.left-aside h3, .blue-article h3, .right-aside h3, .light-blue h1 {
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.light-blue p, .light-blue p {
    color:rgb(146, 143, 143);
    font-family: Arial, Helvetica, sans-serif;
}

#background-blue-article {
    width: 100%;
    height: 250px;
    background-image: url('../img/banner-2.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

#blue-article-opacity-img {
    width: 100%;
    height: 100%;
    background-color: rgb(64 39 62 / 33%);
    border-radius: 10px;
}

#right-aside-background-img {
    background-image: url('../img/img-3.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#right-aside-opacity-img {
    width: 100%;
    height: 100%;
    background-color: rgb(64 39 62 / 33%);
    border-radius: 10px;
}


